#detailRecord {
    ul {
        list-style: none;
        span {
            font-weight: bolder;
        }
    }
    .noteForm {
        background-color: #394867;
        padding: 10px;
        border-radius: 10px;
    }
}