#amount {
    .status{
        text-align: center;
        p {
            font-size: x-large;
            width: max-content;
        }
        p:nth-child(1) {
            font-size: xxx-large;
            margin-bottom: 0;
        }
    }

}