.status{
    text-align: center;
    p {
        font-size: x-large;
        width: max-content;
    }
    p:nth-child(1) {
        font-size: xxx-large;
        margin-bottom: 0;
    }
}
.table-responsive {
    overflow: visible !important;
}
.table-row {
    text-align: center;
    vertical-align: middle;
}
.dropdown {
    position: relative;
    display: inline-block;
    button {
        width: 100px !important;
    }
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 10px black;
    p {
        padding: 10px 20px;
        margin: 0;
        cursor: pointer;
    }
    P:hover {
        background-color: rgb(155, 153, 153);
        color: white;
    }
}
.dropdown:hover .dropdown-content {
    display: block;
}

//phone small and large
@media only screen and (max-width: 767px) {
    .table-responsive {
        overflow: auto !important;
    }
    .dropdown-content {
        position: static;
    }
}