form {
    background-color: #394867;
    padding: 15px 10px;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 12px black, inset 0 0 4px black;
    .row {
        display: flex;
        align-items: flex-end;
    }
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    span {
        border: 1px solid rgba(0, 0, 0, 0.144);
        border-radius: 20%;
        background-color: white;
        padding: 5px;
    }
}